<web-app>
	<display-name>java task api challenge</display-name>

	<listener>
		<listener-class>nz.co.solnet.BootstrapConfig</listener-class>
	</listener>

	<servlet>
		<servlet-name>FetchAllTasks</servlet-name>
		<servlet-class>nz.co.solnet.api.FetchAllTasks</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FetchAllTasks</servlet-name>
		<url-pattern>/get-data</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FetchDataSingleTask</servlet-name>
		<servlet-class>nz.co.solnet.api.FetchDataSingleTask</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FetchDataSingleTask</servlet-name>
		<url-pattern>/get-single-task</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>FetchAllOverdueTasks</servlet-name>
		<servlet-class>nz.co.solnet.api.FetchAllOverdueTasks</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FetchAllOverdueTasks</servlet-name>
		<url-pattern>/get-overdue-data</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddData</servlet-name>
		<servlet-class>nz.co.solnet.api.AddData</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddData</servlet-name>
		<url-pattern>/add-data</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateTask</servlet-name>
		<servlet-class>nz.co.solnet.api.UpdateTask</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UpdateTask</servlet-name>
		<url-pattern>/update-data</url-pattern>
	</servlet-mapping>
</web-app>
